<div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-4 lg:gap-4">
	<!-- Left column -->
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:col-span-3">
			<div class="rounded-lg bg-black-700 shadow-xl overflow-hidden h-96">
				<app-crypto-placeholder></app-crypto-placeholder>
			</div>
			<div class="rounded-lg bg-black-700 shadow-xl overflow-hidden h-96">
				<app-forex-placeholder></app-forex-placeholder>
			</div>
	</div>

	<!-- Right column -->
	<div class="grid grid-cols-1 gap-4">
			<app-orders-placeholder></app-orders-placeholder>
	</div>
</div>